.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.statList {
  display: flex;
  border-top: 1px solid rgb(146, 146, 146);
}

.label {
  margin-bottom: 7px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.item {
  display: flex;
  flex-direction: column;
  min-width: 50px;
  float: left;
  padding: 10px 10px;
  color: rgb(17, 17, 80);
  font-size: 20px;
  text-align: center;
}

.item:not(:last-child) {
  border-right: 1px solid rgb(146, 146, 146);
}
